resources/*
public/
assets/avatar.jpg
content/about/aboutme.md
content/about/index.md
content/contact/contactinfo.md
resources/_gen/assets/scss/sass/main.scss_a4b227022dfae4b28843e276c7e6b126.content
resources/_gen/assets/scss/sass/main.scss_a4b227022dfae4b28843e276c7e6b126.json
