[submodule "theme/blog-theme"]
	path = theme/blog-theme
	url = https://github.com/hugo-sid/hugo-blog-awesome.git
[submodule "themes/hugo-blog-awesome"]
	path = themes/hugo-blog-awesome
	url = https://github.com/hugo-sid/hugo-blog-awesome.git
[submodule "themes/modified-hugo-blog"]
	path = themes/modified-hugo-blog
	url = https://github.com/jlingford/modified-hugo-blog.git
[submodule "themes/themes/modified-hugo-blog"]
	path = themes/themes/modified-hugo-blog
	url = https://github.com/jlingford/modified-hugo-blog.git
[submodule "themes/hugo-embed-pdf-shortcode"]
	path = themes/hugo-embed-pdf-shortcode
	url = https://github.com/anvithks/hugo-embed-pdf-shortcode.git
[submodule "themes/hugo-embed-pdf-shortcode-v2"]
	path = themes/hugo-embed-pdf-shortcode-v2
	url = https://github.com/anvithks/hugo-embed-pdf-shortcode.git
[submodule "themes/modified-hugo-blog-v2"]
	path = themes/modified-hugo-blog-v2
	url = https://github.com/jlingford/modified-hugo-blog.git
